body {
  background: #f1f9fe;
}

/* 页面标题 */
.heading {
  background: #6da8e3 url('/images/hello.jpg') no-repeat bottom center;
  height: 260px;
  color: #f2f9fe;
  position: absolute;
  width: 100%;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
}

.heading > h1 {
  margin: 0;
  padding: 40px 0 0 0;
  font-size: 46px;
}

.main-container {
  /* 与页面标题高度一致 */
  margin-top: 260px;
}

.main-container .col-md-8 {
  color: #205081;
}

/* 首页顶部小icon适应 */
@media (max-width: 387px) {
  #heading_icon {
    width:320px!important;
    margin-left: -160px!important;
  }
}

@media (max-width: 992px) {
  .col-md-4.intropanel {
    background: #ffffff;
  }
}
.col-md-4.intropanel {
  color: #275280;

  padding-top: 20px;
}
