/* 页面标题 */
.heading {
  background: #6da8e3;
  height: 200px;
  color: #f2f9fe;
}

.heading > h1 {
  margin: 0;
  padding: 40px 0 0 0;
  font-size: 46px;
}

@media (min-width: 992px) {

}
.col-md-4.intropanel {
  color: #275280;
}
